---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
seo_image: images/awennersteen.jpg
description: "Overview of published or pre-print articles by Aleksander Wennersteen"
---


<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> or the <a href="{{site.author.arxiv}}">ArXiV</a>.</div>


{% include base_path %}

{% for post in site.publications reversed %}
    {% include archive-single.html %}
{% endfor %}
