---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
seo_image: images/awennersteen.jpg
description: "Overview over talks given by Aleksander"
---

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% if site.talkmap_link == true %}
<h2>Talk map</h2>
<iframe
  src="/talkmap/map.html"
  style="border:0; width:100%; height:70vh; min-height:400px;"
  loading="lazy"
  title="Talk locations map">
</iframe>

{% endif %}