# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
locale                   : "en-UK"
title                    : "Aleksander Wennersteen"
title_separator          : "-"
name                     : &name "Aleksander Wennersteen"
description              : &description "The homepage of quantum, HPC and ML developer Aleksander Wennersteen"
url                      : https://awennersteen.com # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : "" # the subpath of your site, e.g. "/blog"
repository               : "awennersteen/awennersteen.github.io"
teaser                   :  # filename of teaser fallback teaser image placed in /images/, .e.g. "500x300.png"
breadcrumbs              : true # true, false (default)
words_per_minute         : 160
future                   : true
read_more                : "enabled" # if enabled, adds "Read more" links to excerpts
talkmap_link             : true #change to true to add link to talkmap on talks page
atom_feed:
  path                   : # blank (default) uses feed.xml

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               : &twitter awennersteen
og_image                 :  /images/awennersteen.jpg # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : "Aleksander Wennersteen" # If the user or organization name differs from the site's name
  links:
    - "https://www.linkedin.com/in/awennersteen"
    - "https://ieeexplore.ieee.org/author/174901648336142"
    - "https://dl.acm.org/profile/99661753766"
    - "https://orcid.org/0009-0006-5486-0980"
    - "https://awennersteen.medium.com"
    - "https://github.com/awennersteen"
    - "https://x.com/awennersteen"
    - "https://bsky.app/profile/awennersteen.bsky.social"
    - "https://scholar.google.com/citations?user=Qr1PnGAAAAAJ&hl=en"
    - "https://www.slideshare.net/awennersteen"
    - "https://youtube.com/@awennersteen"
  alumniOf: "The University of Edinburgh"
  affiliation: "Pasqal"
  nationality: "Norway"
  home: "Madrid, Spain"
  description: "Aleksander Wennersteen software engineer and researcher working at the intersection of quantum computing, artificial intelligence, and high-performance computing."
  knowsAbout:
    - "Quantum Computing"
    - "Software"
    - "Artificial Intelligence"
    - "HPC"

# Analytics
analytics:
  provider               :  "custom" # false (default), "google", "google-universal", "custom"

# Site Author
author:
  name             : "Aleksander Wennersteen"
  avatar           : "awennersteen.jpg"
  bio              : "Quantum, ML, HPC, Software"
  location         : "Madrid"
  employer         : "Pasqal"
  youtube          : "@awennersteen"
  googlescholar    : "https://scholar.google.com/citations?user=Qr1PnGAAAAAJ"
  arxiv            : "https://arxiv.org/search/quant-ph?searchtype=author&query=Wennersteen,+A"
  email            : "awennersteen@gmail.com"
  researchgate     :
  uri              :
  github           : "awennersteen"
  linkedin         : "awennersteen"
  orcid            : "https://orcid.org/0009-0006-5486-0980"
  stackoverflow    :
  steam            :
  twitter          : "awennersteen"
  producthunt      : ""
  researchhr       : ""
  bsky             : "https://bsky.app/profile/awennersteen.bsky.social"



# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Collections
collections:
  teaching:
    output: false
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: false
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: "talkmap"
    values:
      sitemap: false
  - scope:
      path: "tags"
    values:
      sitemap: false
  - scope:
      path: "categories"
    values:
      sitemap: false
  - scope:
      path: "page-archive"
    values:
      sitemap: false
  - scope:
      path: "collection-archive"
    values:
      sitemap: false
  - scope:
      path: "sitemap"
    values:
      sitemap: false
  - scope:
      path: "terms"
    values:
      sitemap: false
  - scope:
      path: "_pages/tag-archive.html"
    values:
      sitemap: false
  - scope:
      path: "_pages/404.md"
    values:
      sitemap: false
  - scope:
      path: "_pages/page-archive.html"
    values:
      sitemap: false
  - scope:
      path: "_pages/collection-archive.html"
    values:
      sitemap: false
  - scope:
      path: "_pages/sitemap.md"
    values:
      sitemap: false
  - scope:
      path: "_pages/terms.md"
    values:
      sitemap: false
  - scope:
      path: "_pages/category-archive.html"
    values:
      sitemap: false
  - scope:
      path: "_pages/year-archive.html"
    values:
      sitemap: true # the source file for /posts/

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: Europe/Madrid # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

compress_html:
  clippings: all
  ignore:
    envs: development
