{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'publications' %}
    <p class="archive__item-excerpt" itemprop="description">Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.</p>
        {% if post.excerpt != "" %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% endif %}

      <p class="archive__item-actions">
        <a class="btn btn--primary btn--small" href="{{ base_path }}{{ post.url }}" rel="permalink">Read the post</a>
        {% if post.paperurl %}
          <a class="btn btn--small" href="{{ post.paperurl }}">Read the paper</a>
        {% endif %}
        {% if post.recording %}
          <a class="btn btn--small" href="{{ post.recording }}">See a talk recording</a>
        {% endif %}
        {% if post.slides %}
          <a class="btn btn--small" href="{{ post.slides }}">See the slides</a>
        {% endif %}
      </p>
    {% else %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% if site.read_more == 'enabled' %}
      <a class="btn btn--primary btn--small" href="{{ base_path }}{{ post.url }}" rel="permalink">Read the post</a>
      {% endif %}
    {% endif %}
  
  </article>
</div>
